.twitter-btn {
    padding: 15px;
    border-radius: 100px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;

    &.twitter-btn--lightblue {
        background-color: rgb(29, 155, 240);
        color: #fff;

        &:hover {
            background-color: rgb(26, 145, 220);
        }
    }

    &.twitter-btn--dark {
        color: rgb(29, 155, 240);
        background-color: transparent;
        border-color: rgb(83, 100, 113);
        border: solid 1px;

        &:hover {
            background-color: rgb(83, 100, 113);
            color: #fff;
        }
    }
}