.user-not-logged-in {
    display: flex;
    align-items: center;
    justify-content: center;

    .landing-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 600px;
        padding: 40px;
    
        @media screen and (min-width: 1000px) {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 100px;
            max-width: unset;
        }

        @media screen and (min-width: 1200px) {
            gap: 200px;
        }
    
        &__icon {
            width: 60px;
            height: 60px;
    
            @media screen and (min-width: 1000px) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 400px;
                height: 400px;
            }
    
            svg {
                height: 100%;
                width: 100%;
            }
        }
    
        &__body {
            display: flex;
            flex-direction: column;
            gap: 30px;
    
            @media screen and (min-width: 1000px) {
                max-width: 500px;
            }
    
            h1 {
                font-size: 4rem;
                font-weight: 900;
                color: #fff;
            }
            
            .register-container {
                display: flex;
                flex-direction: column;
                gap: 15px;
                max-width: 300px;
    
                h3 {
                    font-size: 2rem;
                    font-weight: bold;
                    color: #fff
                }
    
                &__terms {
                    color: rgb(113, 118, 123);
                    font-size: 0.7rem;
                }
            }
    
            .login-container {
                display: flex;
                flex-direction: column;
                gap: 15px;
                max-width: 300px;
    
                h3 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #fff
                }
            }
        }
    }
}