@import "./Sass/variables";
@import "./Sass/normalize";
@import "./Sass/generics";
@import "./Sass/landing-page";
@import "./Sass/user-access-page";
@import "./Sass/user-logged-in-page";
@import "./Sass/sidebar-first";
@import "./Sass/sidebar-second";
@import "./Sass/tweets";
@import "./Sass/edit-profile";
@import "./Sass/footer";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-color: $background-color;

    &>div {
        flex-grow: 1;
    }
}