* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  all: unset;
}

.twitter-btn {
  padding: 15px;
  border-radius: 100px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
}
.twitter-btn.twitter-btn--lightblue {
  background-color: #1D9BF0;
  color: #fff;
}
.twitter-btn.twitter-btn--lightblue:hover {
  background-color: #1A91DC;
}
.twitter-btn.twitter-btn--dark {
  color: #1D9BF0;
  background-color: transparent;
  border-color: #70808d;
  border: solid 1px;
}
.twitter-btn.twitter-btn--dark:hover {
  background-color: #70808d;
  color: #fff;
}

.twitter-input {
  padding: 15px;
  border-radius: 8px;
  border: 3px solid;
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  background-color: #15202b;
  border-color: #1A91DC;
  color: #fff;
}
.twitter-input::-moz-placeholder {
  color: #70808d;
  font-weight: 100;
}
.twitter-input::placeholder {
  color: #70808d;
  font-weight: 100;
}
.twitter-input:focus-visible, .twitter-input:focus, .twitter-input:hover, .twitter-input:active {
  border-color: #1A91DC;
}

.alert-box {
  padding: 15px;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  color: #fff;
}
.alert-box.alert-box--success {
  background-color: #1da1f2;
}
.alert-box.alert-box--error {
  background-color: #e0245e;
}

.sidebar-box {
  padding: 15px;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  color: #fff;
}
.sidebar-box.sidebar-box--lightblue {
  background-color: rgb(29, 161, 242);
}
.sidebar-box.sidebar-box--dark {
  background-color: #70808d;
}

.default-icon {
  font-size: 1.7rem;
  color: white;
  transition: all 0.3s ease-in-out;
}
.default-icon:hover {
  color: #1D9BF0;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.page-not-found {
  display: grid;
  max-width: 1200px;
}
.page-not-found.page-not-found--logged-in {
  grid-template-columns: 0.1fr 10fr;
}
@media screen and (min-width: 1000px) {
  .page-not-found.page-not-found--logged-in {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
  }
}
.page-not-found__main-container {
  display: flex;
  flex-direction: column;
  align-items: column;
  gap: 15px;
  padding: 50px 0;
}
.page-not-found__main-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
.page-not-found__main-container p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}
.page-not-found__main-container a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1D9BF0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.page-not-found__main-container a:hover {
  color: #1A91DC;
  transition: all 0.3s ease-in-out;
}

.user-not-logged-in {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-not-logged-in .landing-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  padding: 40px;
}
@media screen and (min-width: 1000px) {
  .user-not-logged-in .landing-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    max-width: unset;
  }
}
@media screen and (min-width: 1200px) {
  .user-not-logged-in .landing-container {
    gap: 200px;
  }
}
.user-not-logged-in .landing-container__site-branding {
  width: 60px;
  height: 60px;
}
@media screen and (min-width: 1000px) {
  .user-not-logged-in .landing-container__site-branding {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
  }
}
.user-not-logged-in .landing-container__site-branding i {
  font-size: 4.5em;
}
@media screen and (min-width: 1000px) {
  .user-not-logged-in .landing-container__site-branding i {
    font-size: 20em;
  }
}
.user-not-logged-in .landing-container__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 1000px) {
  .user-not-logged-in .landing-container__body {
    max-width: 500px;
  }
}
.user-not-logged-in .landing-container__body h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
}
.user-not-logged-in .landing-container__body .register-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
}
.user-not-logged-in .landing-container__body .register-container h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.user-not-logged-in .landing-container__body .register-container__terms {
  color: #70808d;
  font-size: 0.7rem;
}
.user-not-logged-in .landing-container__body .login-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
}
.user-not-logged-in .landing-container__body .login-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.user-access-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  padding: 40px;
}
.user-access-page__site-branding i {
  font-size: 4.5em;
}
.user-access-page__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.user-access-page__body h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.user-access-page__body .login-form,
.user-access-page__body .registration-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.user-access-page__body .login-form form,
.user-access-page__body .registration-form form {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  max-width: 500px;
}
.user-access-page .user-signup,
.user-access-page .user-signin {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.user-access-page .user-signup p,
.user-access-page .user-signin p {
  font-weight: bold;
  color: #fff;
}
.user-access-page .user-signup p a,
.user-access-page .user-signin p a {
  color: #1D9BF0;
}
.user-access-page .successful-action {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.user-access-page .successful-action p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}
.user-access-page .successful-action a {
  font-size: 1.3rem;
  font-weight: bold;
  color: #1D9BF0;
}

.user-logged-in-page {
  display: grid;
  grid-template-columns: 0.1fr 10fr;
  max-width: 1200px;
}
@media screen and (min-width: 1000px) {
  .user-logged-in-page {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
  }
}
.user-logged-in-page__main-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border: solid 0.5px gray;
  border-bottom: none;
}
.user-logged-in-page__main-container .feed-header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}
.user-logged-in-page__main-container .feed-header ul li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-logged-in-page__main-container .feed-header ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-logged-in-page__main-container .feed-header ul li a:hover {
  background-color: rgba(247, 249, 249, 0.2);
}
.user-logged-in-page__main-container .feed-header ul li a:focus, .user-logged-in-page__main-container .feed-header ul li a.active {
  background-color: rgba(247, 249, 249, 0.1);
}
.user-logged-in-page__main-container .feed-header ul li a:hover .feed-header__link-container, .user-logged-in-page__main-container .feed-header ul li a:focus .feed-header__link-container, .user-logged-in-page__main-container .feed-header ul li a.active .feed-header__link-container {
  border-bottom: 5px solid #1D9BF0;
}
.user-logged-in-page__main-container .feed-header ul li a .feed-header__link-container {
  border-bottom: 5px solid transparent;
  transition: border-bottom 0.3s;
  padding: 17px 0 12px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.sidebar-first .sidebar-menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.sidebar-first .sidebar-menu li a {
  padding: 10px 20px;
  display: flex;
}
.sidebar-first .sidebar-menu li a:hover .link-wrapper {
  background-color: rgba(238, 233, 234, 0.1294117647);
}
.sidebar-first .sidebar-menu li a .link-wrapper {
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
@media screen and (min-width: 1000px) {
  .sidebar-first .sidebar-menu li a .link-wrapper {
    padding: 10px 20px;
  }
}
.sidebar-first .sidebar-menu li a .link-wrapper__icon {
  font-size: 25px;
}
@media screen and (min-width: 1000px) {
  .sidebar-first .sidebar-menu li a .link-wrapper__icon {
    font-size: 16px;
  }
}
.sidebar-first .sidebar-menu li a .link-wrapper__item-text {
  display: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 1px;
}
@media screen and (min-width: 1000px) {
  .sidebar-first .sidebar-menu li a .link-wrapper__item-text {
    display: block;
  }
}

.sidebar-second {
  display: none;
}
@media screen and (min-width: 1000px) {
  .sidebar-second {
    display: block;
  }
}
.sidebar-second .project-info {
  background-color: #1e2732;
  padding: 12px;
  margin: 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidebar-second .project-info__title {
  font-size: 20px;
  font-weight: bold;
}
.sidebar-second .project-info__description {
  font-size: 16px;
  font-weight: 500;
}
.sidebar-second .project-info__links {
  margin-top: 5px;
}
.sidebar-second .project-info__links ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-tweet-form-container {
  position: relative;
  border: solid 0.5px gray;
}
.add-tweet-form-container .user-profile-img {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.add-tweet-form-container .user-profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.add-tweet-form-container .add-tweet-form {
  height: 155px;
}
.add-tweet-form-container .add-tweet-form textarea.twitter-input {
  position: absolute;
  background-color: transparent;
  border-radius: 0;
  resize: none;
  border: none;
  left: 60px;
  width: calc(100% - 60px);
}
.add-tweet-form-container .add-tweet-form textarea.twitter-input:focus {
  outline: none;
  box-shadow: none;
}
.add-tweet-form-container .add-tweet-form button.twitter-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 15px;
  width: auto;
  font-size: 1rem;
}

.tweets-container {
  border: solid 0.5px gray;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 70vh;
}
.tweets-container::-webkit-scrollbar {
  display: none;
}
.tweets-container .tweet {
  border-bottom: solid 0.5px gray;
  padding: 15px;
  gap: 15px;
  display: flex;
}
.tweets-container .tweet:last-child {
  border-bottom: none;
}
.tweets-container .tweet__avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.tweets-container .tweet__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tweets-container .tweet .tweet-container {
  overflow: hidden;
}
.tweets-container .tweet .tweet-container__username {
  font-weight: bold;
  color: #8b98a5;
}
.tweets-container .tweet .tweet-container__username::before {
  content: "@";
}
.tweets-container .tweet .tweet-container__body {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.profile-container__header {
  margin-bottom: 80px;
}
.profile-container__header .header-image {
  height: 300px;
  width: 100%;
  overflow: hidden;
}
.profile-container__header .header-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-container__header .profile-image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin: -85px;
  margin-left: 1rem;
  border: 5px solid #15202b;
  position: relative;
  z-index: 100;
}
.profile-container__header .profile-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-container__info {
  padding: 1rem;
  border-bottom: 0.5px solid #70808d;
}
.profile-container__name {
  font-size: 1.2rem;
  font-weight: bold;
}
.profile-container__username {
  color: #8b98a5;
  font-size: 1.1rem;
  margin-bottom: 5px;
}
.profile-container__username::before {
  content: "@";
}
.profile-container__bio {
  margin-bottom: 10px;
}
.profile-container__location, .profile-container__created-at {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #70808d;
}
.profile-container__location i, .profile-container__created-at i {
  color: #70808d;
}
.profile-container__following:hover, .profile-container__followers:hover {
  text-decoration: underline;
}
.profile-container__followers {
  margin-left: 15px;
}
.profile-container__button {
  position: absolute;
  right: 1rem;
  top: 325px;
  width: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.edit-profile-page .back-profile-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: solid 0.5px gray;
}
.edit-profile-page .back-profile-link a i:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.edit-profile-page .edit-profile-header {
  width: 100%;
  margin-bottom: 25px;
}
.edit-profile-page .edit-profile-header__profile-header {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.edit-profile-page .edit-profile-header__profile-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.edit-profile-page .edit-profile-header__profile-img {
  width: 170px;
  height: 170px;
  margin-top: -85px;
  margin-left: 1rem;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #15202b;
  position: relative;
  z-index: 100;
}
.edit-profile-page .edit-profile-header__profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.edit-profile-page .edit-profile-header__profile-name {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 180px;
  margin-top: -85px;
}
.edit-profile-page .edit-profile-header__profile-name p {
  color: #70808d;
}
.edit-profile-page .edit-profile-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.edit-profile-page .edit-profile-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.edit-profile-page .edit-profile-form__item-container {
  position: relative;
}
.edit-profile-page .edit-profile-form__item-container label {
  position: absolute;
  top: 5px;
  left: 8px;
  color: #1D9BF0;
}
.edit-profile-page .edit-profile-form__item-container .twitter-input {
  padding: 22px 15px 8px 15px;
}

footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  gap: 15px;
}
footer p {
  color: white;
  font-weight: bold;
}
footer ul {
  display: flex;
  gap: 15px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-color: #15202b;
}
body > div {
  flex-grow: 1;
}/*# sourceMappingURL=styles.css.map */