@import "./Sass/normalize";
@import "./Sass/header";
@import "./Sass/buttons";
@import "./Sass/landing-page";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(21, 32, 43);

    & > div {
        flex-grow: 1;
    }
}
