footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    gap: 15px;

    p {
        color: white;
        font-weight: bold;
    }

    ul {
        display: flex;
        gap: 15px;
    }
}