footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap: 15px;

    p {
        color: white;
        font-weight: bold;
    }

    ul {
        display: flex;
        gap: 15px;

        i {
            font-size: 1.7rem;
            color: white;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: rgb(29, 155, 240);
                transform: scale(1.2);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}