.twitter-btn {
    padding: 15px;
    border-radius: 100px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;

    &.twitter-btn--lightblue {
        background-color: $primary-color;
        color: $white-color;

        &:hover {
            background-color: $primary-color--light;
        }
    }

    &.twitter-btn--dark {
        color: $primary-color;
        background-color: transparent;
        border-color: $secondary-color;
        border: solid 1px;

        &:hover {
            background-color: $secondary-color;
            color: $white-color;
        }
    }
}

.twitter-sign-input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
}

.alert-box {
    padding: 15px;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    color: $white-color;

    &.alert-box--success {
        background-color: $success-color;
    }

    &.alert-box--error {
        background-color: $error-color;
    }
}

.sidebar-box {
    padding: 15px;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    color: $white-color;

    &.sidebar-box--lightblue {
        background-color: rgb(29, 161, 242);
    }

    &.sidebar-box--dark {
        background-color: $secondary-color;
    }
}