.twitter-btn {
    padding: 15px;
    border-radius: 100px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;

    &.twitter-btn--lightblue {
        background-color: rgb(29, 155, 240);
        color: #fff;

        &:hover {
            background-color: rgb(26, 145, 220);
        }
    }

    &.twitter-btn--dark {
        color: rgb(29, 155, 240);
        background-color: transparent;
        border-color: rgb(83, 100, 113);
        border: solid 1px;

        &:hover {
            background-color: rgb(83, 100, 113);
            color: #fff;
        }
    }
}

.twitter-sign-input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    border-color: rgb(51, 54, 57);
}

.alert-box {
    padding: 15px;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    color: #fff;

    &.alert-box--success {
        background-color: rgb(29, 161, 242);
    }

    &.alert-box--error {
        background-color: rgb(224, 36, 94);
    }
}