.login-page, .registration-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    padding: 40px;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 50px;

        h1 {
            font-size: 2rem;
            font-weight: bold;
            color: #fff
        }

        form {
            display: flex;
            align-items: center;
            gap: 40px;
            flex-direction: column;
            max-width: 500px;
        }
    }

    &__signup, &__signin {
        display: flex;
        flex-direction: column;
        gap: 15px;

        p {
            font-weight: bold;
            color: #fff;

            a {
                color: rgb(29, 155, 240);
            }
        }
    }
}

.login-successful-page, .registration-successful-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    padding: 40px;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1 {
            font-size: 4rem;
            font-weight: 900;
            color: #fff;
        }

        p {
            font-size: 1.3rem;
            font-weight: bold;
            color: #fff;
        }

        a {
            font-size: 1.3rem;
            font-weight: bold;
            color: rgb(29, 155, 240);
        }
    }
}