.project-info {
    display: none;

    @media screen and (min-width: $breakpoint-l) {
        background-color: $background-box-color;
        padding: 12px;
        margin: 12px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
    }

    &__description {
        font-size: 16px;
        font-weight: 500;
    }

    &__links {
        margin-top: 5px;

        ul {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}