.user-logged-in-page__sidebar-first {
    .sidebar-menu {
        display: flex;
        flex-direction: column;
        padding-left: 0;

        li a {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 15px;

            i {
                width: 15px;
            }
        }
    }
}