.add-tweet-form-container {
    position: relative;
    border: solid 0.5px gray;

    .user-profile-img {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .add-tweet-form {
        height: 155px;

        textarea.twitter-input {
            position: absolute;
            background-color: transparent;
            border-radius: 0;
            resize: none;
            border: none;
            left: 60px;
            width: calc(100% - 60px);

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        button.twitter-btn {
            position: absolute;
            bottom: 10px;
            right: 10px;
            padding: 5px 15px;
            width: auto;
            font-size: 1rem;
        }
    }

}

.tweets-container {
    border: solid 0.5px gray;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 70vh;

    &::-webkit-scrollbar {
        display: none;
    }

    .tweet {
        border-bottom: solid 0.5px gray;
        padding: 15px;
        gap: 15px;
        display: flex;

        &:last-child {
            border-bottom: none;
        }

        &__avatar {
            width: 40px;
            min-width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .tweet-container {
            overflow: hidden;

            &__username {
                font-weight: bold;
                color: #8b98a5;

                &::before {
                    content: '@';
                }
            }

            &__body {
                overflow-wrap: break-word;
                word-wrap: break-word;
            }
        }
    }
}

.empty-tweets-container {
    padding: 20px;
    font-weight: bold;
}