.user-logged-in-page {
    display: grid;
    grid-template-columns: 0.1fr 10fr;
    max-width: 1200px;

    @media screen and (min-width: $breakpoint-l) {
        grid-template-columns: 1fr 2fr 1fr;
        gap: 20px;
    }

    &__main-container {
        display: flex;
        flex-direction: column;
        overflow: auto;
        border: solid 0.5px gray;

        .feed-header {
            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-left: 0;
                margin-bottom: 0;

                li {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            background-color: $background-header;
                        }

                        &:focus,
                        &.active {
                            background-color: $background-header-hover;
                        }

                        &:hover,
                        &:focus,
                        &.active {
                            .feed-header__link-container {
                                border-bottom: 5px solid $primary-color;
                            }
                        }

                        .feed-header__link-container {
                            border-bottom: 5px solid transparent;
                            transition: border-bottom 0.3s;
                            padding: 17px 0 12px;
                            display: inline-block;
                            font-size: 18px;
                            font-weight: bold;
                        }
                    }

                }
            }


        }
    }
}