.user-access-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    padding: 40px;
    
    &__site-branding {
        width: 60px;
        height: 60px;

        i {
            font-size: 4.5em;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        h1 {
            font-size: 2rem;
            font-weight: bold;
            color: #fff
        }
    
        .login-form, .registration-form {
            display: flex;
            flex-direction: column;
            gap: 50px;
    
            form {
                display: flex;
                align-items: center;
                gap: 40px;
                flex-direction: column;
                max-width: 500px;
            }
        }
    }

    .user-signup, .user-signin {
        display: flex;
        flex-direction: column;
        gap: 15px;

        p {
            font-weight: bold;
            color: #fff;

            a {
                color: rgb(29, 155, 240);
            }
        }
    }

    .successful-action {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            font-size: 1.3rem;
            font-weight: bold;
            color: #fff;
        }

        a {
            font-size: 1.3rem;
            font-weight: bold;
            color: rgb(29, 155, 240);
        }
    }
}
