.user-logged-in-page {
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.7fr;
    max-width: 1200px;

    &__main-container {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
}