// Colors
$primary-color: #1D9BF0;
$primary-color--light: #1A91DC;
$secondary-color: #70808d;
$secondary-color--light: #eee9ea21;
$danger-color: #dc3545;
$white-color: #fff;
$dark-color: #000;
$success-color: #1da1f2;
$error-color: #e0245e;
$background-color: #15202b;

// Fonts
$font-family: Roboto, sans-serif;

// Breakpoints
$breakpoint-l: 1000px;
$breakpoint-xl: 1200px;